/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
}

.app-login-spinner .mat-spinner circle {
    stroke: #ffffff;
}

.space {
    flex: 1 1 auto;
}

.spinner {
    margin: 30px auto 0 auto;
}